.btn{
    background-color:var(--orange);
    color: var(--white);
    padding: 0.45rem 1.45rem;
    border-radius: 2.75rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--orange);
    text-align: center;
    min-width: 95px;
    text-transform: capitalize;
}


.btn:hover{
    box-shadow: 4px 4px 10px rgba(233, 140, 58, 0.5);
    transition: all 0.3s;
}

.outlined-btn{
    background-color:var(--black);
    color: var(--white);
    border: 2px solid var(--orange);
    padding: 0.45rem 1.45rem;
    border-radius: 2.75rem;
    font-weight: 600;
    text-align: center;
    min-width: 95px;
    cursor: pointer;
}

.outlined-btn:hover{
    background-color: var(--orange);
    transition: all 0.3s;
}